*{
    margin: 0 auto;
    color: white;
    
}

.menu{
    display: flex;
    width: 560px;
    height: 680px;
    justify-content: center;
}
body{
    background-color: #663109;
}
header{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    margin-top: 10px;
}

.thome{
    border-bottom: solid 1px white;
}
.tmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
}
strong{
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    width: 10px;
    height: 100px;
    margin-top: 0%;
    margin-bottom: 0%;

}
h1{
    display: flex;
    margin-top: 0px;
    padding-left: 10px;
}
.vitrine{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.vitrine1 img{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 195px;

}
.vitrine2 img{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 195px;

}
.decor1{
    display: flex;
    padding-left: 250px;
}
.promotion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 6px yellow;
    border-radius: 20px;
}
.tpromo{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: solid 2px wheat ;
    color: wheat;
}

.socials{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.order{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}
.torder{
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    margin-bottom: 9px;
}
.order:hover{
    background-color: chocolate;
    border-radius: 20px;
      
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

.tabout{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px orange;
    border-radius: 20px;
    margin: 10px;
}
