*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.home {
    height: 100vh;

}
.img_logo {
    width: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}
.home {
    background-color: #6b3109;
}
.cards img {
    height: 300px;
    width: auto;
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 12.5s ease forwards;
}
@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.card1, .card2, .card3, .card4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    color: white;
    height: 100vh;
}


.card1, .card3 {
    flex-direction: row;
}


.card2, .card4 {
    flex-direction: row-reverse;
}

.card1 img, .card2 img, .card3 img, .card4 img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

.card1 p, .card2 p, .card3 p, .card4 p {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.5;
}
.card1{
    background-color: #bb540f;
}
.card2{
    background-color: #d97704;
}
.card3{
    background-color: #8b430f;
}
.card4{
    background-color: #5e270e;
}
.socials {
    background-color: #df8245;
}
.whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .card1, .card2, .card3, .card4 {
        flex-direction: column;
        text-align: center;
    }

    .card1 img, .card2 img, .card3 img, .card4 img {
        max-width: 80%;
        margin-bottom: 20px;
    }
    .home {
        height: auto;
        padding: 20px;
    }
    .home img {
        margin: 0;
        width: 100%;
    }
}
